@import './default/variables.scss';
@import './default/panel-layout.scss';
@import './default/panel-header.scss';
@import './default/panel-footer.scss';
@import './default/panel-body.scss';
@import './default/transition.scss';
@import './default/panel-basket-page.scss';

@import './ui/ml-textarea.scss';
@import './ui/ml-btns.scss';
@import './ui/ml-inputs.scss';
@import './ui/ml-image.scss';
@import './ui/ml-numeric.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

a {
  text-decoration: none;
  color: inherit !important;
}

* {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

.error-message {
  color: #e94574;
}

.success-message {
  color: #20ac69 !important;
}
