@import 'bootstrap/scss/bootstrap-grid.scss';
// @import 'bootstrap/scss/bootstrap.scss';

@import './default/variables.scss';
@import './default/panel-layout.scss';
@import './default/panel-header.scss';
@import './default/panel-footer.scss';
@import './default/panel-body.scss';
@import './default/transition.scss';
@import './default/panel-basket-page.scss';
@import './default/panel-modal.scss';

@import './ui/ml-textarea.scss';
@import './ui/ml-btns.scss';
@import './ui/ml-inputs.scss';
@import './ui/ml-image.scss';
@import './ui/ml-numeric.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

a {
  text-decoration: none !important;
  color: inherit !important;
}

* {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

.error-message {
  color: #e94574 !important;
}

.success-message {
  color: #20ac69 !important;
}

.h100 {
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.v-navigation-drawer__content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.v-navigation-drawer__content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
