.ml-black-btn {
  padding: 14px 85px;
  background: #000000;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #ffffff !important;
  display: block;
  text-align: center;

  i {
    color: #ffffff !important;
  }
}

/**Кнопка закрытия панели*/
.close-panel-btn {
  position: absolute;
  left: -55px;
  top: 15px;
}

.ml-black-btn:hover {
  background: #2c2c2c;
}

.ml-sending-method-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
}

.ml-sending-method-btn.active {
  border: 1px solid #000000;

  i {
    color: #000000;
  }
}
