.ml-black-btn {
  padding: 14px 85px;
  background: #000000;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #ffffff !important;
  display: block;
  text-align: center;

  i {
    color: #ffffff !important;
  }
}

.ml-black-btn:hover {
  background: #1a1a1a;
}
