.ml-black-btn,
.ml-silver-btn {
  padding: 14px 18px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;
  display: block;
  text-align: center;
}

.ml-black-btn {
  background: #000000;
  color: #ffffff !important;

  i {
    color: #ffffff !important;
  }
}

.ml-silver-btn {
  background: #f0f0f0;
  color: #4d4d4d !important;

  i {
    color: #4d4d4d !important;
  }
}

.ml-black-btn:disabled,
.ml-black-btn[disabled],
.ml-black-btn:disabled:hover,
.ml-black-btn[disabled]:hover {
  background: #e6e6e6;
}

/**Кнопка закрытия панели*/
.close-panel-btn {
  position: absolute;
  left: -55px;
  top: 15px;
}

.ml-black-btn:hover {
  background: #2c2c2c;
}

.ml-silver-btn:hover {
  background: #e2e0e0;
}

.ml-sending-method-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
}

.ml-sending-method-btn.active {
  border: 1px solid #000000;

  i {
    color: #000000;
  }
}
