.ml-input {
  .v-input__slot {
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding-left: 24px !important;
    padding-right: 24px !important;

    legend {
      width: inherit !important;
    }
  }

  .v-label--active {
    top: 29px;
  }

  .v-text-field__slot {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.02em;

    color: #4d4d4d;
  }
}

.ml-input-noty {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #808080;
}

.ml-input.novalidate {
  .v-input__append-inner {
    display: none !important;
  }
}

.ml-input-prepend-inner {
  .v-input__icon--prepend-inner {
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid #e6e6e6;
  }

  .v-label--active {
    left: 0 !important;
    top: 29px;
  }
  .v-input__prepend-inner i {
    font-size: 16px;
    color: black !important;
  }

  .v-input__prepend-inner i.primary--text {
    color: black !important;
  }
}

/*Поле ввода кода верификации*/
.ml-input-code {
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-width: 48px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ml-input-code.invalid {
  border: 1px solid #e94574;
}

.ml-input-code:focus {
  border: 1px solid #000000;
}
