.mloyalty-panel-body {
  text-align: left;
  display: block;

  .pb {
    padding: 32px;
  }

  .section {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
  }

  .design-carousel {
    margin-bottom: 48px;
  }

  .par {
    cursor: pointer;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #4d4d4d;
    margin-right: 10px;
    margin-bottom: 10px;

    input,
    input:focus,
    input:active {
      border: none;
      outline: none;
    }
  }

  .par.active {
    border: 1px solid #000000;
  }

  .preview-eye {
    font-size: 14px;
    margin-left: 5px;
  }

  .controlls {
    min-height: 72px;
    border-top: 1px solid #e6e6e6;
    display: block;
    padding: 12px 32px;
  }

  .text1 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0;
  }

  .text2 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #808080;
  }
}
