.mloyalty-panel-burger-body,
.mloyalty-panel-body,
.ml-perview-card {
  .close-btn {
    position: absolute;
    right: 33px;
    top: 19px;
    z-index: 2;
  }

  ul.home-menu {
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 24px;
      color: #000000;

      a {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.02em;
      }
    }

    li:hover {
      color: #525252;
    }
  }
}
