.ml-panel-basket-page {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .empty-cart-img {
    margin-bottom: 30px;
  }

  .empty-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 24px;
  }
}
