.mloyalty-panel-header {
  display: flex;
  align-items: center;
  min-height: 60px;
  height: 60px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;

  .logo {
    margin-left: 24px;
  }

  .burger {
    margin-right: 12px;
    cursor: pointer;
  }

  .how-its-work {
    color: #808080;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
  }
}
